{% load static %}
{% load in_group %}
{% load i18n %}
<!DOCTYPE html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ general_parameter.page_title }}</title>
    {% if general_parameter.favicon_link %}
        <link rel="shortcut icon" href="{{ general_parameter.favicon_link }}">
    {% else %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    {% block styles %}
    {% endblock %}


</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav aria-label="Top Nav" class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><em class="fas fa-bars"></em></a>
            </li>

            <li class="nav-item d-sm-inline-block">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-link">{% trans "Logout" %}</a>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-link">{% trans "Login" %}</a>
                {% endif %}
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item d-sm-inline-block">
                    <a href="{% url 'change_password' %}" class="nav-link">{% trans "Change password" %}</a>
                </li>
            {% endif %}

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-sm-inline-block mr-3">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" onchange="this.form.submit()" class="select form-control">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.code }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </li>
        </ul>

    </nav>

    <aside aria-label="Side Nav" class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            {% if general_parameter.logo_link %}
                <img src="{{ general_parameter.logo_link }}" alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
            {% else %}
                <span class="brand-image img-circle" style="margin-top: 5.5px;">
                    B<em class="nav-icon fas fa-at "></em>S
                </span>
            {% endif %}


            <span class="brand-text font-weight-light">{% trans "Virtual Rooms" %}</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">

            {% if request.user.is_authenticated %}
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="{% static 'img/default_profile.png' %}" class="img-circle elevation-2"
                             alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">{{ request.user.last_name }}, {{ request.user.first_name }}</a>
                    </div>
                </div>
            {% endif %}

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">


                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <em class="nav-icon fas fa-graduation-cap"></em>
                            <p>{% trans "Home" %}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'statistics' %}" class="nav-link">
                            <em class="nav-icon fas fa-chart-line"></em>
                            <p>{% trans "Statistics" %}</p>
                        </a>
                        </a>
                    </li>

                    {% if request.user.is_staff %}

                        <li class="nav-item">
                            <a href="/admin/" class="nav-link" target="_blank">
                                <em class="nav-icon fas fa-tv"></em>
                                <p>{% trans "Admin" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'settings_edit' %}" class="nav-link">
                                <em class="nav-icon fas fa-cog"></em>
                                <p>{% trans "Settings" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-user"></em>
                                <p>{% trans "Users" %}</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url "tenants_overview" %}" class="nav-link">
                                <em class="nav-icon fas fa-users"></em>
                                <p>{% trans "Tenants" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'rooms_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-person-booth"></em>
                                <p>{% trans "Rooms" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'instances_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-server"></em>
                                <p>{% trans "Server" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'import_export' %}" class="nav-link">
                                <em class="nav-icon fas fa-retweet"></em>
                                <p>{% trans "Import/Export" %}</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user|in_moderators_group %}
                        <li class="nav-item">
                            <a href="{% url 'room_configs_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-cubes"></em>
                                <p>{% trans "Room Types" %}</p>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'recordings_list' %}" class="nav-link">
                            <em class="nav-icon fas fa-video"></em>
                            <p>{% trans "Recordings" %}</p>
                        </a>
                    </li>
                    {% if general_parameter.faq_url %}
                        <li class="nav-item">
                            <a href="{{ general_parameter.faq_url }}" target="_blank"
                               class="nav-link" rel="noopener noreferrer">
                                <em class="nav-icon fas fa-question-circle"></em>
                                <p>{% trans "FAQ" %}</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if general_parameter.feedback_email %}
                        <li class="nav-item">
                            <a href="mailto:{{ general_parameter.feedback_email }}?subject=Feedback BBB Portal"
                               class="nav-link">
                                <em class="nav-icon fas fa-comment-dots"></em>
                                <p>{% trans "Feedback" %}</p>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            {% block page_title %}
            {% endblock %}
        </div>
        <div class="content">
            <div class="container-fluid">

                {% if messages %}
                    <div class="row">
                        <div class="col-12">
                            {% for message in messages %}

                                {% if message.tags == 'info' %}
                                    <div class="alert alert-info alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h5><em class="icon fas fa-info"></em> {% trans "Info" %}!</h5> {{ message }}
                                    </div>
                                {% endif %}

                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h5><em class="icon fas fa-check"></em> {% trans "Success" %}!
                                        </h5> {{ message }}
                                    </div>
                                {% endif %}

                                {% if message.tags == 'warning' %}
                                    <div class="alert alert-warning alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h5><em class="icon fas fa-exclamation-triangle"></em> {% trans "Warning" %}!
                                        </h5> {{ message }}
                                    </div>
                                {% endif %}

                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h5><em class="icon fas fa-ban"></em> {% trans "Error" %}!</h5> {{ message }}
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}


                {% block content %}
                {% endblock %}
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->


    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            <!--
            Admin Theme by <a href="https://adminlte.io">AdminLTE.io</a> -->
        </div>
        {% if general_parameter.footer %}
            {{ general_parameter.footer|safe }}
        {% endif %}
    </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- toastr Plugin -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
{% block scripts %}
{% endblock %}


</body>
</html>
